body{
    background-color: rgb(20,23,22);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#screenPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

#screen, #operationsScreen{
    background-color: rgb(233, 188, 90);
    text-align: center;
    padding-top: 20px;
    width: 700px;
    height: 50px;
    border-radius: 10px;
}

#screen{
    margin-top:10px;
}

#calculatorPanel{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#digits, #operators{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 20%;
}

.button{
    background-color: rgb(196, 168, 168);
    border-radius: 10px;
    margin: 5px;
}
.digit{
    width: 100px;
    height: 100px;
    flex-basis: 28%;
}

.operator, #equals, #clear{
    background-color: rgb(176, 116, 116);
    width: 100px;
    height: 100px;
}

#clear, #equals{
    background-color: rgb(243, 233, 233);
}
